
  /*NAVBAR */
nav {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(234, 87, 87) , rgb(11, 117, 11));
    padding: 0 0 0 1.2em;
    z-index: 1004;
    font-family: 'Alkalami', serif;
    
}

nav ul {
    list-style-type: none;
    margin: 1.2em auto;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    font-size: 1em;
    padding: 0 1em;
    text-transform: uppercase;
  }

  nav a {
    text-decoration:none;
    color: white;
  }

  nav a:hover {
      color: rgb(85, 198, 19);
  }


body {
  
  margin: 0;
}

.headerDecorations{
  padding-top: 120px;
  font-family: 'Mountains of Christmas', cursive;
  border-bottom: 2px dotted rgb(137, 185, 54);
  color: brown;
  text-align: center;
}
h2{
  font-family: 'Alkalami', serif;
  text-align: center;
}

h4{
  color:rgb(222, 37, 37);
}

 /*STORIES PAGE*/
/* Banner */
.header {
  padding: 70px;
  text-align: center;
  background-image: url("/images/christmas/jeshoots-com-7VOyZ0-iO0o-unsplash.jpg");
  color: white;
  font-size: 30px;
  font-family: 'Mountains of Christmas', cursive;
}
 
.stories{
  margin : 20px;
}
  /*Story card*/
  .storyCard{
    box-shadow: 0 8px 8px 0 rgba(27, 63, 32, 0.636);
    border-radius: 5px; /* 5px rounded corners */
    margin:20px;
    padding: 5px;
    
  }

 .storyImage {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
p{
  padding: 10px;
  font-family: 'Gentium Plus', serif;
  font-size: larger;
}

#main{
  display: flex;
    flex-direction: column;
    align-content: space-between;
   

}

 /*DECORATION PAGE*/
#content{
   
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1508172819040-536e3f54970f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
    background-size:cover;

}

 /*Decoration card*/
.card {
    
    box-shadow: 0 8px 8px 0 rgba(16, 13, 13, 0.5);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin:20px;
    width: 30%;
    text-align: center;
   
  }

  .containerCard p{
    font-family: ' Ariel;
  }
  
  #content .card img {
   
    width: 20em;
    height: 20em;
  }

 /*CONTACT US PAGE*/
 .contact-body{
  background-image: url(/images/christmas/sarah-evans-kaa7DQ74YiY-unsplash.jpg);
  background-size:contain;
  display: grid;
  align-items: center;
  width: 100%;
  height: 100vh;

 }


 .contact-in{
  width: 100%;
    height: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ead1d1;
    background-color: white;
}



 .contact-map{
  width: 100%;
  height: auto;
  flex:50%;
  margin:60px 20px;
  padding:5px;

}

.contact-map iframe{
  width: 100%;
  height: 100%;

}

 .contact-form{

    box-shadow: 8px 8px 8px 8px rgba(16, 13, 13, 0.5);
    transition: 0.3s;
    border-radius: 5px; 
    text-align: center;
    margin:60px 20px;
    padding:5px;
    background-color: rgb(219, 229, 225);
    width: 100%;
    height: 90%;
    flex:50%;

   
 }
.contact-form-txt
 {
  width: 70%;
  height: 20px;
  border-radius: 40px;
  outline:none;
  margin-bottom:5px;
  padding: 15px;
 }

 .contact-form-txt::placeholder{
  color:#aaa;
  font-family: 'Gentium Plus', serif;
  font-size: larger;
 }

 .contact-form-textarea
 {
  width: 70%;
  height: 130px;
  border-radius: 40px;
  outline:none;
  margin-bottom:20px;
  padding: 15px;
 }

 .contact-form-textarea::placeholder{
  color:#aaa;
  font-family: 'Gentium Plus', serif;
  font-size: larger;
 }

 .submitButton{
  width: 50%;
  height: 20px;
  font-family: 'Gentium Plus', serif;
  font-size: larger;
  padding:10px 0px;
  text-align: center;
  background-color:rgb(130, 213, 166);
  border-radius: 10px ;
  border: none;
  margin: 10px;
  outline: none;
  cursor:pointer;
 }




 /*SALES PAGE*/


 #bodySales {
  background: #DFC2F2;
    background-image: linear-gradient( to right, #c6ffb3,#ffe6e6);
    background-attachment: fixed;	
    background-size: cover;
    
    }
  
  #containerSales{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    margin:25px;
    width: 80%;
    text-align: center;
    
    
  }
  
  .product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;
  
  }
  
  #containerSales .product-details h1{
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: #344055;
    margin: 0;
    
    
  }
  
  #containerSales .product-details h1:before{
    position: absolute;
    content: '';
    right: 0%; 
    top: 0%;
    transform: translate(25px, -15px);
    font-family: 'Bree Serif', serif;
    display: inline-block;
    background: #ffe6e6;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: white;
    margin: 0;
    animation: chan-sh 6s ease infinite;
  
  }

  .hint-star {
    display: inline-block;
    margin-left: 0.5em;
    color: gold;
    width: 50%;
  }
  
  
  #containerSales .product-details > p {
  font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 18px;
    color: #7d7d7d;
    
  }
  .control{
    display: inline-block;
    
  }
  .btn {
  
    transform: translateY(0px);
    transition: 0.3s linear;
    background:  #e54f57;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
    
  }
  
  .btn:hover{transform: translateY(-6px);
    background: #1c9a27;}
  
  .btn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin:0;
    
  }
  .btn .price, .shopping-cart{
    background: #333;
    border: 0;
    margin: 0;
  }
  
  .btn .price {
    transform: translateX(-10%); padding-right: 15px;
  }
  
  .btn .shopping-cart {
    transform: translateX(-100%);
    position: absolute;
    background: #333;
    z-index: 1;
    left: 0;
    top: 0;
  }
  
  .btn .buy {z-index: 3; font-weight: bolder;}
  
  .btn:hover .price {transform: translateX(-110%);}
  
  .btn:hover .shopping-cart {transform: translateX(0%);}
  
  .product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 50%;
    display: inline-block;
  }
  
  #containerSales img {
    width: 100%;
    height: 100%;
    
  }
  
  .info {
      background: rgba(27, 26, 26, 0.9);
      font-family: 'Bree Serif', serif;
      transition: all 0.3s ease-out;
      transform: translateX(-100%);
      position: absolute;
      line-height: 1.8;
      text-align: left;
      font-size: 105%;
      cursor: no-drop;
      color: #FFF;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
  }
  
  .info h2 {text-align: center}
  .product-image:hover .info{transform: translateX(0);}
  
  .info ul li{transition: 0.3s ease;}
  .info ul li:hover{transform: translateX(50px) scale(1.3);}
  
  .product-image:hover img {transition: all 0.3s ease-out;}
  .product-image:hover img {transform: scale(1.2, 1.2);}


  /*FOOTER */
footer {
 
    background-color:rgb(11, 111, 91);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}

footer p {
    color: white;
    font-size: 16px;
    font-family: 'Gentium Plus', serif;
    font-weight:lighter ;
    padding: 10px;

}
/* Style all font awesome icons */
.icons {
  padding: 20px;
  font-size: 1em;
  width: 1em;
  text-align: center;
  
  
}

/* Add a hover effect if you want */
.icons:hover {
  opacity: 0.7;
}

.icons  {
  display: inline-flex;
  margin: 0 15px;
}
/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  text-align: center;
}

/* Twitter */
.fa-twitter {
  
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  text-align: center;
}

.fa-linkedin {
  
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  text-align: center;
}

.fa-instagram {
  
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  text-align: center;
}

/**********SHOPPING CART **************/
.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}


  /*********MEDIA QUERIES*************/
@media (min-width: 56.25em) {
    #content{
   
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content:space-around;
        
    }
    .stories{
  
      display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:stretch;
  }

  .contact-in{
    width:100%;
    height: 100%;
    margin:20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ead1d1;
    background-color: white;
  
   }



}